body {
  background-color: #f9f0de;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flower-frame-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 56vh;
  width: 810px;
  background-image: url(../../imgs/Asset3.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  padding: 10px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: 'Alegreya SC', serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  padding: 8px;
  font-size: 25px;
}
 .other {
   font-family: 'Josefin Sans', sans-serif;
   padding: 8px;
   font-size: 20px;
 }

.other2 {
  font-family: 'Josefin Sans', sans-serif;
  padding: 5px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #AAAAAA;
}
